/***
Login page
***/

.login .content {
    background-color: #fff;
    width: 320px !important;
    margin: 2% auto 20px auto !important;
    padding: 20px;
    text-align: center;
    font-family: rubik;
    border-radius: 10px;
  }
  
  .login .content h3 {
    color: #000;
  }
  .login .content h4  {
    color: #555;
  }
  
  .login .content p {
    color: #222;
  }
  
  .login .content .login-form,
  .login .content .forget-form {
      padding: 0px;
      margin: 0px;
  }
  
  .login .content .input-icon {
    /*border-left: 2px solid #35aa47 !important;*/
    border-radius:0;
    /*text-align: center !important;*/
  }
  
  .login .content .input-icon .form-control {
    font-size: 16px;
    font-family: 'Rubik';
    text-align: center;
    color: #6a6a6a;
    font-weight: 100;
  }
  
  .login .content .forget-form {
    display: none;
  }
  
  .login .content .register-form {
    display: none;
  }
  
  .login .content .form-title {
    border-bottom: 1px solid #2ac6b0;
    color: #152445;
    font-family: rubik;
    font-weight: 400;
    margin-bottom: 25px;
    padding-bottom: 5px;
    width: 100%;
    font-size: 27px;
  }
  
  /*.login .content .form-actions {
    background-color: #fff;
    clear: both;
    border: 0px;
    border-bottom: 1px solid #eee;
    padding: 0px 30px 25px 30px;
    margin-left: -30px;
    margin-right: -30px;
  }*/
  
  .login .content .form-actions .checkbox {
    margin-left: 0;
    padding-left: 0;
  }
  
  .login .content .forget-form .form-actions {
    border: 0;
    margin-bottom: 0;
    padding-bottom: 20px;
  }  
  
  .login .content .register-form .form-actions {
    border: 0;
    margin-bottom: 0;
    padding-bottom: 0px;
  }
  
  .login .content .form-actions .checkbox {
    margin-top: 8px;
    display: inline-block;
  }
  
  .login-form label,
  .forget-form label,
  .register-form label,
  .forget-form label {
      font-family: 'Rubik';
      font-weight: 400;
      font-size: 17px;
      line-height: 18px;
  }
  
  .form-control {
    font-family: rubik;
  }
  
  
  
  /*.login .content .form-actions .btn {
  
      border-radius: 0;
      color: white;
      margin-top: 1px;
      /*text-transform: uppercase;*/
      /*width: 50%;*/
        /*font-family: monsel;
      border-radius: 4px;
  }*/
  
  .login .btn.green {
      background: #5a866f none repeat scroll 0 0;
  }
  
  .login .btn.grey {
      color: black !important;
  }
  
  .login .content .forget-password {
    border-bottom: 1px dotted #eee;
    margin-top: 10px;
    padding-bottom: 16px;
    font-family: rubik;
  }
  
  .login .content .create-account {
    margin-top: 22px;
    font-family: rubik;
    color: #152445;
    font-size: 15px;
    font-weight: 400;
  }
  
  .login .content .btn.btn-default {
    display: inline-block;
    margin-top: 7px;
    color: #152445;
    font-family: rubik;
    text-transform: none;
    font-size: 19px;
    font-weight: 400;
    box-shadow: none;
    border: #152445 1px dashed;
    padding: 5px;
  }
  
  /* select2 dropdowns */
  .login .content .select2-container {
    border-left: 2px solid #35aa47 !important;
  }
  
  .login .content .select2-container .select2-choice {
    border-left: none !important;
  }
  
  .login .content .select2-container i {
    display: inline-block;
    position: relative;
    color: #ccc;
    z-index: 1;
    top:1px;
    margin: 4px 4px 0px 3px; 
    width: 16px;
    height: 16px;
    font-size: 16px;
    text-align: center; 
  }
  
  .login .content .has-error .select2-container i {
    color: #b94a48;
  }
  
  .login .content .select2-container a span {
    font-size: 13px;
  }
  
  .login .content .select2-container a span img {
    margin-left: 4px;
  }
  
  /* footer copyright */
  .login .copyright {
    text-align: center;
    margin: 0 auto; 
    padding: 10px;
    color: #999;
    font-size: 13px;
  }
  
  
  .alert.alert-danger {
    background: #cc00000f;
    border: #cc0000 1px dashed;
    color: #cc0000;
    font-family: 'Rubik';
    font-weight: 100;
    font-size: 13px;
  }
  
  .login button.close {
    margin-right: -12px;
    margin-top: -15px;
  }
  
  .g-recaptcha {
    margin-left: -13px;
  }
  
  .login-promo-info {
    text-align: left;
    font-size: 14px !important;
    width: 100%;
  }
  
  .login a {
    text-decoration: underline;
    color: #26c1b4;
  }
  
  
  .login span.help-block {
    color: #cc0000;
    background: #ff00001f;
    border-radius: 5px;
    padding: 9px;
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  @media (max-width: 480px) {
    /***
    Login page
    ***/
    .login .logo {
      margin-top:10px;
    }
  
    .login .content {
      margin: 10% auto 20px auto !important;
    }
  
    .login .content {
      width: 280px;
    }
  
    .login .content h3 {
      font-size: 22px;
    }
  
  
    .login .checkbox {
      font-size: 13px;
    }
  
  
  .login-social-link {
    display: block;
    margin-top: 20px;
    margin-bottom: 15px;
  }
  
  .btn-facebook {
    color: #fff;
    background-color: #5193ea;
    border-color: #2775e2;
  }
  .btn-facebook:hover,
  .btn-facebook:focus,
  .btn-facebook:active,
  .btn-facebook.active,
  .open .dropdown-toggle.btn-facebook {
    color: #fff;
    background-color: #2775e2;
    border-color: #2775e2;
  }
  
  .btn-twitter {
    color: #fff;
    background-color: #44ccfe;
    border-color: #2bb4e8;
  }
  .btn-twitter:hover,
  .btn-twitter:focus,
  .btn-twitter:active,
  .btn-twitter.active,
  .open .dropdown-toggle.btn-twitter {
    color: #fff;
    background-color: #2bb4e8;
    border-color: #2bb4e8;
  }
  
  .btn-s23 {
    color: #fff;
    background-color: #CE1C17;
    border-color: #AE292A;
  }
  .btn-s23:hover,
  .btn-s23:focus,
  .btn-s23:active,
  .btn-s23.active,
  .open .dropdown-toggle.btn-s23 {
    color: #fff;
    background-color: #A30002;
    border-color: #AE292A;
  }
  
  .centered {
    text-align: center;
  }
  
  .text-hover-c2c {
      background: white none repeat scroll 0 0;
      color: grey;
      padding: 0 8px;
  }
  
  .login .forget-form > p {
      line-height: 15px;
  }
  
  .logindni select {
      padding: 0;
  }
  
  .logindni div:first-child {
      padding: 0 5px 0 0;
  }
  
  .logindni div:last-child {
      padding: 0;
  }
  
  .logindni {
      float: left;
      margin-bottom: 15px;
  }
  
  .login .form-control.valid {
      border-radius: 0;
      text-align: center;
  }
  
  .logindni input {
      border-radius: 0;
      text-align: center;
  }
  
  .login textarea {
      height: 120px !important;
      max-height: 120px;
      max-width: 278px;
      width: 278px !important;
  }
  
  }